.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: white;
}



.body1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex: 1 1 0px;
}

.intro {
  display: flex;
  flex-direction: row;
  padding: 2% 10% ;
  justify-content: space-around;
  align-items: center;
}

.pixel {
  width: 50%;
}

.para {
  font-size: 16px;
  text-align: left;
  color: black;
}
.heading {
  font-size: 64px;
}

.tagline {
  display: flex;
  flex-direction: column;
  padding: 10%;
  background-image: url("../../Assets/background.jpg");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.welcome {
  display: flex;
  height: 100%;
  width: 50%;
  flex-direction: column;
}

a {
  color: #0c0c0c;
  text-decoration: none;
}

.linkedIn {
  color: #0060b6;
}

.getstarted {
    font-size: 24px;
    font-weight: bold;
    color: #0060b6;
}

.linkedIn:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
@keyframes MoveUpDown {
  0%,
  100% {
    bottom: 0;
  }
  50% {
    bottom: 10px;
  }
}

h1 {
  animation-fill-mode: both;
    animation-duration: 1260ms;
    animation-delay: 0ms;
    animation-iteration-count: 1;
    opacity: 1;
    animation-name: reactReveal;
}



.body2 {
  color: black;
  justify-content: center;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 2% 10%;
  text-align: left;
  width: 80%;
}

.body3 {
  color: black;
  justify-content: center;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 2% 10%;
  text-align: left;
  width: 80%;
}

.h1plusText {
  width: 50%;
}

.h1Imagetag {
  width: 36%;
  object-fit: cover;
  position: relative;
  animation-name: MoveUpDown;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}



.h1tagsImage {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.h1tags {
  width: 50%;
}


.body4 {
  width: 100%;
}

p {
  font-weight: lighter;
  font-size: smaller;
}

@media only screen and (max-width: 720px) {
  .body1 {
    flex-direction: column;
  }
  .discription {
    padding-bottom: 10px;
  }
  
  .intro{
    flex-direction: column;
    padding: 0%;
  }
  .welcome {
    width: 70%;
    
  }
  .h1tagsImage {
    flex-direction: column;
  }
  .h1tags {
    width: 100%;
  }
  .h1plusText {
    width: 100%;
  }

  .h1Imagetag {
    width: 100%;
  }

}
